.intro {
  max-width: 1040px;
  margin: auto;
  padding: 120px 163px 57px;
  text-align: center;
}

.profile {
  width: 112px;
  height: 112px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--red);
  padding: 4.36px;
  margin-bottom: 56px;
}

.intro p:nth-child(2) {
  color: var(--gray-200);
  font: var(--subtile);
  margin-bottom: 8px;
}

.intro p span {
  color: var(--red);
  font: var(--subtile);
}

h1 {
  font: var(--title-lg);
  color: var(--gray-100);
  margin-bottom: 20px;
}

.intro p:nth-child(4) {
  color: var(--gray-300);
  margin-bottom: 80px;
}

.skills {
  max-width: 754px;
  margin: auto;
}

.item {
  gap: 8px;
  border-radius: 999px;
  background-color: var(--gray-400);
  padding: 8px 16px;
}

.item p {
  font: var(--text-md);
  color: var(--gray-200);
}

.down {
  margin-top: 94px;
  text-align: center;
}