main {
  background-image: url('../assets/images/Background_Intro.png');
  min-height: 100vh;
  background-size: cover;
}

#info {
  max-width: 1040px;
  margin: auto;
  padding: 120px 163px 57px 163px;
  gap: 80px;
}

.intro {
  max-width: 680px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & img:nth-child(1) {
    width: 120px;
    height: 120px;
    border-radius: 9999px;
    object-fit: cover;
    border: 2px solid var(--light-blue);
    padding: 4.36px;
  }

  & img:nth-child(2) {
    position: relative;
    bottom: 30px;
    left: 32px;
  }

  & p:nth-child(3) {
    font: var(--subtitle);
    color: var(--gray-200);
    margin: 56px 0 8px;
  }

  & p:nth-child(3) span {
    color: var(--light-blue);
  }

  & h1 {
    font: var(--title-lg);
    color: var(--gray-100);
  }

  & p:nth-child(5){
    font: var(--text-sm);
    color: var(--gray-300);
    margin-top: 20px;
  }
}

.skills {
  margin-top: 80px;
  gap: 16px;
}

.skill {
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  background: var(--gray-400);
  padding: 8px 16px;

  &:hover {
    background-color: var(--light-blue);
    text-transform: uppercase;
  }

  & p {
    font: var(--text-md);
    color: var(--gray-200);
  }
}

.down {
  margin: 94px 0 57px;
  text-align: center;
}